@model Infrastructure.Models.PlanesCobro

@{
    ViewBag.Title = "Details";
}


    <h4>Rubros de Cobro Asociados</h4>
    <hr />

    <div class="list-group">
        <ul>
            @foreach (var item in Model.RubroCobro)
            {
                <li class="list-group-item list-group-item-action list-group-item-secondary">
                    @item.Descripcion - @item.Monto
                </li>
            }

        </ul>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
